.about-title {
    margin-top: 5px;
    text-decoration: underline;
    text-align: center;
}

.about-paragraph {
    margin-top: 25px;
    font-size: 18px;
    text-align: center;
}

.about {
    background-image: url("../../images/background_beach_v2.png");
    padding-bottom: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-tools {
    text-align: center;
}

.about-tools > a {
    margin: 15px;
}

.about-tools-title {
    text-align: center;
    text-decoration: underline;
}

.react-class {
    border-radius: 10px;
}

.react-class:last-of-type {
    margin-left: 40px;
    margin-right: 40px;
}

#left {
    top: 0px;
}

ul {
text-decoration: none;
}

.social-icons a
{
  width:40px;
  /* height:100px; */
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:5%;
  color:#33353d;
}

.social-icons a.linkedin:hover
{
  color:#007bb6
}
.social-icons li.title
{
  display:block;
  margin-right:0;
  font-weight:600
}

.social-icons {
    font-size: 30px;
}

.profile-picture {
    border: 2px solid black;
    border-radius: 40px;
    vertical-align: middle;
    width: 200px;
    height: 200px;
}