section {
  height: 100vh;
  line-height: 150%;
}

.container {
  display: grid;
  width: 100%;
}

.left-half {
  grid-column: 1;
  background-image: url("../../images/bg_flush_left.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.right-half {
  grid-column: 2;
  border-bottom: 1px solid black;
}

p {
  font-family: Rubik;
  width:90%;
  margin: 5%;
}

img {
  justify-content: center;
}

#form {
  display: flex;
  width:90%;
  margin: 5%;
  border: none;
  justify-content: center;
}

.logo-auth {
  display: block;
  position: absolute;
  transform: scale(0.5);
  width: 500px;
  height: 800px;
  background-repeat: no-repeat;
  background-position: bottom -1px left 10px; 
  z-index: 1;
}

#left {
  background: transparent;
  position: absolute;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;

  padding: 0 .5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}