body {
  margin: 20px auto;
  font-family: "Lato";
  /* background: #666; */
  color: #fff;
  padding-bottom: 90px;
}

* {
  margin: 0px;
  padding: 0px;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  font-family: "Reenie Beanie";
  font-size: 1.5rem;
}
/* 
ul,
li { */

/* p {
  list-style: none;
} */

/* ul { */
.allNotes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ul li a { */
.note {
  text-decoration: none;
  color: #000;
  /* background: #ffc; */
  background: #d6ed00;
  display: block;
  height: 10em;
  width: 10em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
}

.note:nth-child(even) {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
  /* background: #cfc; */
  background: #eb8200;
}
.note:nth-child(3n) {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
  /* background: #ccf; */
  background: #c6a8ce;
}

.note:nth-child(5n) {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
}
.note:hover,
.note:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.note {
  margin: 1em;
}

button:hover {
  color: white;
}