.searchbarandbutton {
  width: device-width, initial-scale=0.9, user-scalable=no;
  margin: 0px;
  height: 500px;
  background-image: url("../images/background_beach.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.searchbar {
  transform: scale(2);
}
.logo {
  /* display: flex; */
  display: block;
  position: absolute;
  background-image: url("../images/logo.png");
  transform: scale(0.5);
  width: 500px;
  height: 800px;
  background-repeat: no-repeat;
  /* background-position: bottom 10px left 10px; */
  left: 0px;
  top: 0px;
  z-index: 1;
}

button {
  border: none;
  background: transparent;
}

#search {
  display:inline-flex;
  padding:10px 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
}

#button:hover{
  color:#eb8200;
}

input {
  border: none;
  padding-right:30px;
}

input:focus {
  outline: none;
}
