*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", "Ruda";
}

/* background: rgb(194,178,128);
background: linear-gradient(354deg, rgba(194,178,128,1) 22%, rgba(255,255,255,1) 100%, rgba(170,115,79,1) 100%, rgba(0,212,255,1) 100%); */